[submodule "lib/arduino-core"]
	path = lib/arduino-core
	url = https://github.com/Sensirion/arduino-core.git
[submodule "lib/arduino-i2c-sfa3x"]
	path = lib/arduino-i2c-sfa3x
	url = https://github.com/Sensirion/arduino-i2c-sfa3x.git
[submodule "lib/arduino-ble-gadget"]
	path = lib/arduino-ble-gadget
	url = https://github.com/patiqs/arduino-ble-gadget.git
	branch = FixDownload
[submodule "lib/arduino-i2c-scd4x"]
	path = lib/arduino-i2c-scd4x
	url = https://github.com/Sensirion/arduino-i2c-scd4x.git
[submodule "lib/arduino-i2c-sen5x"]
	path = lib/arduino-i2c-sen5x
	url = https://github.com/Sensirion/arduino-i2c-sen5x.git
